.order-detail {
    margin-top: 60px;
    padding: 32px 40px;
    flex: 1;
    font-family: 'Lora', serif;
}

.order-detail__back {
    display: inline-block;
    font-size: 18px;
    color: blue;
    margin-bottom: 12px;
}

.order-detail__status span {
    font-size: 18px;
}

.order-detail__status.waiting span {
    color: #007bff;
}

.order-detail__infos {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    list-style: none;
    padding: 16px;
}

.order-detail__info {
    display: flex;
    margin-bottom: 12px;
}

.order-detail__info label {
    display: inline-block;
    width: 190px;
    margin-bottom: 0;
}

.order-detail__info p {
    flex: 1;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    color: #666;
}

.order-detail__products {
    padding: 0;
}

.order-detail__summary {
    margin-top: 8px;
    text-align: right;
    font-size: 32px;
    font-weight: 700;
    color: #666;
}

.order-detail__status {
    font-size: 20px;
    margin-bottom: 12px;
}

.order-detail__status span {
    font-size: 22px;
    font-weight: 700;
}

.order-detail__status.waiting span {
    color: #007bff;
}

.order-detail__status.confirm span {
    color: #28a745;
}

.order-detail__status.cancel span {
    color: #dc3545;
}

.order-detail__control {
    display: flex;
    justify-content: center;
}

.order-detail__control button {
    padding: 4px 12px;
    margin: 0 4px;
    font-size: 18px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

.order-detail__control button:nth-child(1) {
    border: 1px solid #28a745;
    background-color: transparent;
    color: #28a745;
}

.order-detail__control button:nth-child(1):hover {
    background-color: #28a745;
    color: #fff;
}

.order-detail__control button:nth-child(2) {
    border: 1px solid #dc3545;
    color: #dc3545;
    background-color: transparent;
}

.order-detail__control button:nth-child(2):hover {
    background-color: #dc3545;
    color: #fff;
}

.order-detail__control i {
    margin-right: 6px;
}


