.home {
    padding-bottom: 80px;
}

.home-container {
    padding-top: 20px;
}

.home-title {
    display: flex;
    align-items: end;
    justify-content: space-between;
    font-family: 'Lora', serif;
    font-size: 18px;
}

.home-title > a {
    display: block;
    min-width: 100px;
    text-align: center;
}

.home-title > span {
    font-size: 28px;
    text-decoration: underline;
}

.home-list {
    margin: 20px 0 32px;
}

.home-item {
    width: 100%;
    border: 3px solid #999;
    border-radius: 12px;
    padding: 8px;
    position: relative;
    margin-bottom: 12px;
}

.home-item > img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 12px;
}

.home-item > span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 32px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.938);
    text-shadow: 0 0px 10px black;
    text-align: center;
}

.carousel-indicators li {
    background-color: #999;
}

.carousel-indicators li.active {
    background-color: #333;
}

.home-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    padding: 12px;
    border: 1px solid #666;
    border-radius: 12px;
}

.home-rating__avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.home-rating__info {
    margin-left: 12px;
}

.home-rating__starts i.active {
    color: #f2bc00;
}

.home-rating__info > h5 {
    margin-bottom: 4px;
}

.home-rating__info > p {
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
