.collection {
    font-family: 'Lora', serif;
    min-height: 1000px;
    padding-bottom: 32px;
    padding: 0 20px;
}

.collection-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #888;
    position: relative;
    margin-top: 24px;
}

.collection-title {
    position: absolute;
}

.collection-title--sm {
    top: 0px;
    font-size: 20px;
}

.collection-title--lg {
    top: 4px;
    font-size: 80px;
    text-shadow: 0 0 0 white;
}

.collection-list {
    margin-top: 150px;
    list-style: none;
    padding: 0;
}

.collection-item__title {
    color: #999;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 20px;
}

.collection-item__content {
    width: 100%;
}

.collection-item__img {
    width: 90%;
    height: 600px;
    object-fit: cover;
    border-radius: 12px;
}
