.order {
    margin-top: 60px;
    padding: 32px 40px;
    flex: 1;
}

.order-title {
    font-family: 'Lora', serif;
}

.order-table {
    margin-top: 16px;
}

.order-table__item {
    font-family: 'Lora', serif;
}

.order-table__item-id a {
    font-weight: 600;
    font-size: 20px;
    color: #777;
}

.order-table__item-id a:hover {
    font-weight: 700;
    color: #444;
}

.order-table__item-date {
    font-size: 18px;
}

.order-table__item-status.waiting {
    color: #007bff;
}

.order-table__item-status.confirm {
    color: #28a745;
}

.order-table__item-status.cancel {
    color: #dc3545;
}


.order-table__item-price {
    font-weight: 700;
    font-size: 20px;
    color: #888;
}

.order-table__item-control a {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #28a745;
    border-radius: 12px;
}

.order-table__item-control a:hover {
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
}


th {
    background-color: white;
}

th:first-child,
td:first-child {
    position: sticky;
    left: 0px;

}

td:first-child {
    background-color: white;
}
