/* Mobile */
@media (max-width: 739px) {
    .header-mobile__nav {
        width: 100%;
    }

    .header-mobile__overlay {
        width: 0;
    }

    .header-list__item {
        font-size: 18px;
        margin: 0;
    }
}

