/* Movile and Tablet */
@media (max-width: 1023px) {
    .create-product {
        margin-top: 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Movile */
@media (max-width: 739px) {
    .create-product {
        padding: 32px 8px;
    }

    .create-product__title {
        font-size: 26px;
    }

    .create-product__form {
        margin-top: 60px;
    }
}

