.edit-product {
    margin-top: 60px;
    padding: 32px 40px;
    flex: 1;
}

.edit-product__title {
    font-family: 'Lora', serif;
}

.edit-product__back {
    font-size: 18px;
    color: blue;
}

.edit-product__content {
    padding: 32px 0;
}

.edit-product__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.edit-product__img-view {
    width: 100%;
}

.edit-product__img-file {
    display: none;
}

.edit-product__img-icon {
    display: block;
    position: absolute;
    font-size: 20px;
    top: calc(100% + 20px);
    cursor: pointer;
}

.edit-product__img-icon:hover {
    color: #666;
}

.edit-product__list {
    padding: 0px 16px;
    list-style: none;

}

.edit-product__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.edit-product__item > span {
    display: block;
    margin-bottom: 4px;
}

.edit-product__item input,
.edit-product__item select {
    padding: 4px 12px;
    outline: none;
    border: 2px solid #888;
    border-radius: 8px;
}

.edit-product__item input:focus,
.edit-product__item select:focus {
    border-color: #80bdff;
}

.edit-product__item ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 8px;
}

.edit-product__item li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid #888;
}

.edit-product__item li span {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    font-size: 14px;
}

.edit-product__item li span:hover {
    color: red;
}

.edit-product__confirm {
    margin-top: 8px;
    padding: 4px 20px;
}
