.profile-password {
    font-family: 'Lora', serif;
    color: #888;
}

.profile-password__title {
    text-decoration: underline;
}

.profile-password__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 32px 0 0;
}

.profile-password__item {
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-password__item-title {
    width: 200px;
    color: #666;
    font-weight: 700;
}

.profile-password__item-input {
    flex: 1;
    padding: 6px 16px;
    outline: none;
    border: 1px solid #999;
    border-radius: 8px;
}

.profile-password__confirm {
    padding: 8px 16px;
    border-radius: 12px;
}


