/* Movile */
@media (max-width: 739px) {
    .profile-password__title {
        font-size: 24px;
    }

    .profile-password__item {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }

    .profile-password__item-title {
        margin-bottom: 4px;
    }

    .profile-password__item-input {
        width: 100%;
    }
}
