.cart-product {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.cart-product__info {
    display: flex;
    flex: 2;
}

.cart-product__detail {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-product__detail b {
    color: #777;
}

.cart-product__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.cart-product__name {}

.cart-product__id {}

.cart-product__color {}

.cart-product__size {}

.cart-product__price {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-product__control {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-product__amount {
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
}

.cart-product__decrease:hover,
.cart-product__increase:hover {
    background-color: #999;
}

.cart-product__payment {
    font-size: 30px;
}

.cart-product__delete {
    outline: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-product__delete:hover {
    background-color: #999;
}
